<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zqs.dao.user.IUserStationMapper">
	<resultMap id="userStationMap" type="userStation" >
		
		<id column="ID" property="id" jdbcType="DECIMAL"/>
		<result column="USER_ID" property="userId" jdbcType="DECIMAL"/>
		<result column="STATION_ID" property="stationId" jdbcType="DECIMAL"/>
		
	</resultMap>
	
</mapper>